<div id="channel" class="w-full hidden">
  <input
    id="name"
    class="text-xl text-bold"
    type="text" />
  <div id="inputs">
    {% include "collection" title: "Inputs" %}
  </div>
  TODO delete button
</div>
