<ul data-template="collection" class="flex flex-col gap-2">
  <li data-template="collection-item" class="group px-4 py-2 flex justify-between border-b last:border-b-0">
    <div class="name flex-1">Loading...</div>
    <div class="buttons hidden group-hover:flex gap-4">
      <button class="delete" title="delete">
        <i data-feather="trash-2"></i>
      </button>
      <button class="edit" title="edit">
        <i data-feather="edit-2"></i>
      </button>
    </div>
  </li>
</ul>
