<div class="flex gap-4 flex-wrap">
  <label>
    size: <input
      class="avgSize input-field"
      data-field="avgSize"
      type="number" />
  </label>
  <label>
    frequency: <input
      class="avgFreq input-field"
      data-field="avgFreq"
      type="number" />
  </label>
  <label>
    growth %: <input
      class="growthPercent input-field"
      data-field="growthPercent"
      type="number" />
  </label>
  <label>
    growth frequency: <input
      class="growthFreq input-field"
      data-field="growthFreq"
      type="number" />
  </label>
  <label>
    max saturation: <input
      class="saturation input-field"
      data-field="saturation"
      type="number" />
  </label>
  <label>
    seed: <input
      class="seed input-field"
      data-field="seed"
      type="number" />
  </label>
  <label>
    variability: <input
      class="variability input-field"
      data-field="variability"
      type="number" />
  </label>
  <label>
    curve:
    <select
      class="curve input-field"
      data-field="curve"
      type="select"></select>
  </label>
</div>
