<div class="flex gap-4 flex-wrap">
  <label>
    size: <input
      class="size input-field"
      data-field="size"
      type="number" />
  </label>
  <label>
    frequency: <input
      class="frequency input-field"
      data-field="frequency"
      type="number" />
  </label>
  <label>
    growth %: <input
      class="growthPercent input-field"
      data-field="growthPercent"
      type="number" />
  </label>
  <label>
    growth frequency: <input
      class="growthFreq input-field"
      data-field="growthFreq"
      type="number" />
  </label>
  <label>
    max saturation: <input
      class="saturation input-field"
      data-field="saturation"
      type="number" />
  </label>
  <label>
    seed: <input
      class="seed input-field"
      data-field="seed"
      type="number" />
  </label>
  <label>
    variability: <input
      class="variability input-field"
      data-field="variability"
      type="number" />
  </label>
  <label>
    curves:
    <select
      multiple="true"
      class="curves input-field"
      data-field="curves"
      type="select"></select>
  </label>
</div>
