<div data-template="list" class="flex flex-col gap-4">
  <h2 class="title text-bold text-2xl">{{ title }}</h2>
  <ul class="list flex flex-col gap-2">
    <li data-template="list-item" class="px-4 py-2 flex border-b last:border-b-0">
      <button class="button flex justify-between flex-1" title="Loading...">
        <div class="name">Loading...</div>
        <i data-feather="chevron-right"></i>
      </button>
    </li>
  </ul>
</div>
