<ul data-template="list" class="flex flex-col gap-2">
  <li data-template="list-item" class="px-4 py-2 flex border-b last:border-b-0">
    <button class="flex justify-between flex-1" title="Loading...">
      <div class="name">Loading...</div>
      <i data-feather="chevron-right"></i>
    </button>
  </li>
</ul>
