<div id="model" class="w-full hidden">
  <input id="model-name" class="text-2xl font-bold ml-4"></input>
  <div class="flex justify-end">
    <div id="save-controls" class="m-2 hidden">
      <button id="reset-changes" class="rounded-lg text-slate-400 px-4 py-2">Reset</button>
      <button id="save-changes" class="mx-8 rounded-lg bg-teal-500 text-white px-4 py-2 shadow-sm hover:shadow-lg">Save</button>
    </div>
    <div class="grid grid-cols-4 gap-2">
      days: <input
        class="col-span-3"
        id="days"
        type="number"
        value="0" />
      offset: <input
        class="col-span-3"
        id="offset"
        type="number"
        value="0" />
      <span></span>
      <button id="toggle-low" class="flex gap-2 text-red-600">
        <span class="icon"></span>
        low
      </button>
      <button id="toggle-mid" class="flex gap-2 text-black">
        <span class="icon"></span>
        mid
      </button>
      <button id="toggle-high" class="flex gap-2 text-green-600">
        <span class="icon"></span>
        high
      </button>
      profit:
      <span id="profit-low"></span>
      <span id="profit-mid"></span>
      <span id="profit-high"></span>
      loss:
      <span id="loss-low"></span>
      <span id="loss-mid"></span>
      <span id="loss-high"></span>
      net:
      <span id="net-low"></span>
      <span id="net-mid"></span>
      <span id="net-high"></span>
    </div>
  </div>

  <div id="chart" class="w-full"></div>
  <div id="inputs">
    {% include 'collection' title: "Inputs"
      , row_partial: "input-row" %}
  </div>
</div>
