<div id="model" class="w-full hidden">
  <h1 id="name" class="text-2xl font-bold"></h1>
  <div class="flex justify-between">
    <div class="flex gap-2">
      {% comment %} <label>offset <input
                  id="offset"
                  type="range"
                  min="0"
                  max="365"
                value="0" /></label> {% endcomment %}
    </div>
    <div class="grid grid-cols-2">
      days: <input
        id="days"
        type="number"
        value="0" />
      profit:
      <span id="profit"></span>
      loss:
      <span id="loss"></span>
      net:
      <span id="net"></span>
    </div>
  </div>

  <div id="chart" class="w-full"></div>
  <div id="inputs">
    {% include 'collection' title: "Inputs"
      , row_partial: "input-row" %}
  </div>
  TODO delete button
</div>
