<div id="signin" class="flex flex-1 justify-center items-center">
  <button id="authorize-sheets" class="hidden flex gap-4 text-lg ring-1 ring-slate-600 rounded-md shadow-md hover:shadow-lg px-4 py-2">
    <i data-feather="grid"></i>
    Grant sheets access to continue
  </button>
  <div id="google-auth">
    <div
      id="g_id_onload"
      data-client_id="{{objects.site.google_client_id}}"
      data-context="signin"
      data-ux_mode="popup"
      data-callback="googleAuthComplete"
      data-auto_select="true"
      data-itp_support="false"></div>

    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left"></div>
  </div>
</div>
