{% layout 'theme' title: objects.site.name %}

<h1 id="nav" class="text-3xl font-bold flex gap-4">
  <button id="back" class="hidden">
    <i data-feather="chevron-left"></i>
  </button>
  {{ objects.site.name }}
</h1>

<div id="firebaseui-auth-container"></div>

{% include 'model-list' %}
{% include "model" %}
{% include "channel" %}
{% include 'quick-search' %}
